
form[name=selection_categories] {
margin-bottom:0;
}

form[name=selection_categories].form-horizontal .control-group {
margin-bottom:0;
margin-top:9px;
}

form[name=selection_categories] legend {
font-size:1em;
line-height:normal;
}
hr.small-hr {
margin:0.5em 0;
}
.devis_list.table-striped tbody tr.achete td {
/*background-color:blue;*/
}
.devis_list td {
vertical-align:middle;
}
